brotlipy==0.7.0
cryptography==3.2.1
slack_bolt==1.7.0
yelpapi==2.4.0
brotli==1.0.9
Cython==0.29.24
importlib_metadata==4.6.3
ipaddr==2.2.0
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
mypy_extensions==0.4.3
numpy==1.21.1
ordereddict==1.1
protobuf==3.17.3
pyOpenSSL==20.0.1
zipp==3.5.0
